.event {
  border: var(--border-width) solid var(--color-black);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
}
